@model promoTalk.Models.productCatalog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}
<link href="https://www.jquery-az.com/jquery/css/jquery.multiselect.css" rel="stylesheet" />
<script src="https://www.jquery-az.com/jquery/js/multiselect-checkbox/jquery.multiselect.js"></script>
<h2>Edit</h2>

@using (Html.BeginForm("Edit", "productCatalogs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    @{ if (Model.isOffer)
        {
            <h4>Flyer </h4>
        }
        else
        { <h4>Catalog</h4> }
    }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.catalogID)

        <div class="form-group">
            @{ if (Model.isOffer)
                {<label class="control-label col-md-2">Flyer Catagory</label>
                }
                else
                {
                    <label class="control-label col-md-2">Catalog Catagory</label>

                }
            }
            <div class="col-md-10">
                @Html.DropDownList("productCategoryID", null, new { @id = "mySel", @multiple = "multiple", @class = "form-control 4colactive" })
                <input type="hidden" id="hdnproductCategoryID" name="hdnproductCategoryID" value="" />
            </div>
      
        </div>

        <div class="form-group">
            @{ if (Model.isOffer)
                {<label class="control-label col-md-2">Flyer Supplier</label>
                }
                else
                {
                    <label class="control-label col-md-2">Catalog Supplier</label>

                }
            }
            <div class="col-md-10">
                @Html.DropDownList("supplierID", null, new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.supplierID, new SelectList(ViewBag.supplierID, "supplierID", "supplierName"), new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.supplierID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{ if (Model.isOffer)
                {<label class="control-label col-md-2">Flyer Name</label>
                }
                else
                {
                    <label class="control-label col-md-2">Catalog Name</label>

                }
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.productTitle, new { htmlAttributes = new { @class = "form-control", @onblur = "slugify(productTitle,slugURL)" } })
                @Html.ValidationMessageFor(model => model.productTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        @{ var isoffer = Model.isOffer ? 1 : 0;  }
        <div class="form-group">
            @Html.LabelFor(model => model.slugURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.slugURL, new { htmlAttributes = new { @class = "form-control" ,@onblur = "checkExists(slugURL,'productCatalogs',"+ Model.catalogID + "," + isoffer + ")" } })
                @Html.ValidationMessageFor(model => model.slugURL, "", new { @class = "text-danger" })
            </div>
        </div>

        @{ if (Model.isOffer)
            {
                @Html.HiddenFor(m => m.isOffer)
                <div class="form-group">
                    @Html.LabelFor(model => model.offerProviderURl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.offerProviderURl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.offerProviderURl, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Expire Date</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.offerExpireDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                        @Html.ValidationMessageFor(model => model.offerExpireDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="hidden" value="false" name="isPremeum" />
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3">Image</label>
                        <div class="col-md-9 choose-img">
                            @Html.HiddenFor(model => model.thumbImageURL)
                            <img id="pic" src='@Model.thumbImageURL' alt="Image" width="300px" height="300px">
                            <input type="file" id="photoA" name="files" class="choose-input">
                        </div>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" value="false" name="isOffer" />
                <div class="form-group">
                    @Html.LabelFor(model => model.isPremeum, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.CheckBoxFor(m => m.isPremeum)
                    </div>
                </div>
               <input type="hidden" name="offerProviderURl" value="." />
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-3">Image</label>
                    <div class="col-md-9 choose-img">
                        @Html.HiddenFor(model => model.thumbImageURL)
                        <img id="pic" src='@Model.thumbImageURL' alt="Image" width="300px" height="300px">
                        <input type="file" id="photoA" name="files" class="choose-input">
                    </div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3">PDF</label>
                        <div class="col-md-9">
                            <input type="file" id="PDF" name="files" class="choose-input" accept="application/pdf">
                            @Html.HiddenFor(m=>m.pdfURL)
                        </div>
                    </div>
                </div>

            }
        }

       
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" onclick="showSelectsd()" />
            </div>
        </div>
    </div>


}

        <div>
            @Html.ActionLink("Back to List", "Index", new { id = Model.isOffer == true ? 2 : 1 })
        </div>
@{ var selectedCategory = ViewBag.selectedCategoriesID; }  
<script>
    
    $('#mySel').multiselect(
            {columns: 2,
            placeholder: '@ViewBag.catalogcatagory'
            });
    @*var arr = '@selectedCategory'.split(',');
    $('#mySel').multiselect('select', arr);*@
</script>
 
   
<script>
    
    var arr = '@selectedCategory'.split(',');
    if (arr != "") {
        var selO = document.getElementById('mySel');
        for (i = 0; i < selO.length; i++) {
            if (arr.indexOf(selO.options[i].value) > -1)
            {    selO.options[i].selected = true;
               var p=  document.getElementById('ms-opt-' + (i+1)).checked=true             
             }
        }
    }
</script>
<script type="text/javascript">

        function showSelectsd() {
            
            var selO = document.getElementById('mySel');
            var hdnproductCategoryID = document.getElementById('hdnproductCategoryID');
            var selValues = [];
            var v = '';
            for (i = 0; i < selO.length; i++) {
                if (selO.options[i].selected) {
                    selValues.push(selO.options[i].value);
                     v = v+selO.options[i].value + ',';
                }
            }
            hdnproductCategoryID.value=v;
    }
</script>
